@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        background-color: white;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 72px;
        z-index: 200;
        padding-top: 5px;
    }
     
    .sidebar-link {
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
    }
    
    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }
    
    .sidebar-link div {
        font-size: 10px;
    }
    
    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
    }
}

@media (min-width: 1200.1px) {
    .sidebar {
        position: fixed;
        background-color: white;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 220px;
        z-index: 200;
        padding-top: 5px;
    }

    .sidebar-link {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        cursor: pointer;
        padding-left: 23px;
    }

    .sidebar-link img {
        height: 24px;
        margin-bottom: 1px;
        margin-right: 15px;
    }

    .sidebar-link div {
        font-size: 13px;
    }
}